@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 400px;
}

.home__intro {
  text-align: center;
  color: white;
}

.home__title {
  font-family: 'Merienda', cursive;
  font-size: 74px;
  line-height: 74px;
  padding: 0;
  margin: 10px 0 0 10px;
}

.home__text {
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.home__button {
  border: solid white 2px;
  padding: 15px 25px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.home__button:hover {
  background-color: white;
  color: #9b3434;
}