@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans');
@font-face {
  font-family: 'Merienda';
  src: local('Merienda'), url('../assets/fonts/Merienda-Regular.ttf') format('truetype')
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.App {
  background-image: url('../assets/img/paintbackground.jpeg');
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.App__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.3;
}