.painting-grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.painting {
    display: inline-block;
    width: 100%;
}

.painting__image {
    position: relative;
    background-size: cover;
    display: block;
    background-position: top;
}

.painting__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    color: white;
    opacity: 0;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: default;
    z-index: 5;
    padding: 5px;
}

.painting__overlay:hover {
    opacity: 1;
}

.painting__name {
    margin: 0;
    font-size: 18px;
}

.painting__artist {
    margin: 0;
    font-size: 14px;
    color: #f89d9d;
}

.painting__item-square {
    width: 100%;
    display: block;
    opacity: 0;
}

.painting__info {
    position: relative;
    display: block;
}

.painting__retail {
    display: inline-block;
    text-decoration: line-through;
    color: #777;
}

.painting__price {
    display: inline-block;
    color: #9b3434;
    font-size: 20px;
}

.painting__add {
    display: inline-block;
    padding: 3px 8px;
    border: solid #9b3434 1px;
    color: #9b3434;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 12px;
    cursor: pointer;
}

.painting__add:hover {
    background-color: #9b3434;
    color: white;
}

.painting__add-icon {
    margin-right: 5px;
}

@media (max-width: 900px) {
    .painting__price {
        font-size: 15px;
    }

    .painting__retail {
        font-size: 11px;
    }
}

@media (max-width: 800px) {
    .painting-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .painting-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}