.cart {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.cart__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}

.cart__window {
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  top: 80px;
  left: 80px;
  right: 80px;
  padding: 20px;
}

.cart__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.cart__close:hover {
  color: #e27878;
}

.cart__table {
  width: 100%;
  border-collapse: collapse;
}

.cart__total-section {
  border-top: solid black 1px;
}

.cart__checkout {
  border: solid 2px #489648;
  color: #489648;
  border-radius: 25px;
  padding: 5px 15px;
  margin-top: 10px;
  float: right;
  cursor: pointer;
}

.cart__checkout:hover {
  background-color: #489648;
  color: white;
}

.cart__checkout-icon {
  margin-right: 5px;
}