.top-bar {
    position: fixed;
    z-index: 10;
    color: white;
    top: 0;
    right: 40px;
    left: 40px;
    height: 40px;
  }

  .top-bar__home {
    font-family: 'Merienda', cursive;
    display: inline-block;
    margin-top: 5px;
    font-size: 20px;
    padding: 0;
    text-decoration: none;
    color: white;
  }
  
  .top-bar__cart {
    position: absolute;
    right: 0;
    top: 10px;
    font-family: 'Noto Sans', sans-serif;
  }
  
  .top-bar__cart-icon {
    margin-right: 4px;
  }